page-home {
    h1 {
        text-align: center;
        color: rgb(52, 93, 230);
    }

    img {
        width: 200px;
        align-self: auto;
        margin: auto;
        display: block;
        padding: 10px;
    }
}
